{% extends 'base.html.twig' %}

{% block title %}
    Application météo
{% endblock %}

{% block body %}

    <div class="row">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="input-field col s12 m10">
            {{ form_label(form.name, 'Ville') }}
            {{ form_widget(form.name, {'attr': {'class': 'autocomplete', 'autocomplete': 'off'}})}}
        </div>
        <div class="input-field col s12 m2">
            <button class="btn waves-effect waves-light" type="submit" name="action">Valider</button>
        </div>

        {{ form_end(form) }}
    </div>

    {% if current is not null %}
        <h3>Temps actuel à
            {{ city.getName() }}
            ({{ city.getPostcode() }})
            <span class="grey-text" style="font-size: 1.64rem">
                le
                {{ current['time'] | date("d/m/Y") }}
                à
                {{ current['time'] | date("H:i") }}
            </span>
        </h3>

        <div class="row">
            <div class="col s12 m3">
                <div class="card very-small">
                    <div class="card-content">
                        <span class="card-title">Vent</span>
                        <p>La vitesse du vent est de
                            <b>{{ current['windSpeed'] }}</b>
                            m/s.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card very-small">
                    <div class="card-content">
                        <span class="card-title">Humidité</span>
                        <p>L'humidité est de
                            <b>{{ current['humidity'] * 100 }}</b>
                            %.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card very-small">
                    <div class="card-content">
                        <span class="card-title">Point de rosée</span>
                        <p>Le point de rosée est de
                            <b>{{ current['dewPoint'] }}</b>
                            °C.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card very-small">
                    <div class="card-content">
                        <span class="card-title">Indice UV</span>
                        <p>L'indice UV est de
                            <b>{{ current['uvIndex'] }}</b>.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12">
                <div class="card small">
                    <div class="card-content">
                        <span class="card-title">Statut actuel :
                            {{ current['summary'] }}</span>
                        <p>Actuellement la température est de
                            <b>{{ current['temperature'] }}
                                °C</b>.</p>
                    </div>
                </div>
            </div>
        </div>
        <p></p>

        <div class="row">
            <div class="col s12">
                <h3>Prévisions températures</h3>
                <div class="chart-container">
                    <canvas id="myChart" data-daily-weather='{{ daily_weather|json_encode()|e('html_attr') }}'
                            style="min-height: 600px"></canvas>
                </div>
            </div>
        </div>
    {% else %}
        <h3>Météo non trouvée pour la ville donnée</h3>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('weather-daily-charts') }}
    {{ encore_entry_script_tags('city-autocomplete') }}
{% endblock %}
